@using Kanban.Models;
@model Kanban.ViewModels.HomeViewModel

@{
    ViewData["Title"] = "Home Page";
}

    <div class = "text-center m-4">
        <a class="btn btn-success" asp-controller="Tablero" asp-action="IrACrearTablero">Crear Tablero</a>
    </div>

    @foreach(var tablero in Model.Tableros)
    {
        <div class="card-header bg-dark text-white text-center d-flex justify-content-between align-items-center">
            <h4 class="mb-0">@tablero.Nombre</h4>
            @{
                if(tablero.IdUsuarioPropietario == Model.Id)
                {
                    <div class="d-flex align-items-center">
                        <a class="btn btn-primary" asp-controller="Tablero" asp-action="IrAModificarTablero" asp-route-id=@tablero.Id>Modificar Tablero</a>
                        <form asp-controller="Tablero" asp-action="eliminarTablero" method="post">
                            <input type="hidden" name="id" value="@tablero.Id" />
                            <button type="submit" onclick="return confirm('¿Está seguro de eliminar?')" class="btn btn-danger">
                                <i class="bi bi-trash"></i>
                            </button>
                        </form>
                    </div>
                }
            }
        </div>
        <div class="card-header bg-light text-dark text-center">
            <p>@tablero.Descripcion</p>
        </div>
        <table class="table table-bordered table-striped">
            <thead class="bg-secondary">
                <tr class="text-center">
                    <th>Ideas</th>
                    <th>To Do</th>
                    <th>Doing</th>
                    <th>Review</th>
                    <th>Done</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="w-20">
                        <div class="text-center m-3">
                            @if(tablero.IdUsuarioPropietario == Model.Id)
                            {
                                <a class="btn btn-success" asp-controller="Tarea" asp-action="IrACrearTarea" asp-route-id=@tablero.Id>+</a>
                            }
                        </div>
                        @foreach (var tarea in Model.TareasPorTablero[tablero.Id].Where(t => t.Estado == EstadoTarea.Ideas))
                        {
                            <div class="card mb-2 text-center" style="width: 100%;">
                                <div class="card-body">
                                    <h6 class="card-title">@tarea.Nombre</h6>
                                    <p class="card-text">@tarea.Descripcion</p>
                                    <div class="d-flex justify-content-between align-items-center">
                                        @if(tablero.IdUsuarioPropietario == Model.Id || tarea.IdUsuarioAsignado == Model.Id)
                                        {
                                            <form asp-controller="Tarea" asp-action="cambiarEstadoTarea" method="post">
                                                <input type="hidden" name="idTarea" value="@tarea.Id" />
                                                <input type="hidden" name="estado" value="@((int)tarea.Estado)"/>
                                                <input type="hidden" name="direccion" value="2"/>
                                                <button type="submit" class="btn btn-success">
                                                    <i class="bi bi-arrow-left"></i>
                                                </button>
                                            </form>
                                        }
                                        @if(tablero.IdUsuarioPropietario == Model.Id)
                                        {
                                            <form asp-controller="Tarea" asp-action="EliminarTarea" method="post">
                                                <input type="hidden" name="idTarea" value="@tarea.Id" />
                                                <button type="submit" onclick="return confirm('¿Está seguro de eliminar?')" class="btn btn-danger">
                                                    <i class="bi bi-trash"></i>
                                                </button>
                                            </form>
                                            <a class="btn btn-primary" asp-action="IrAModificarTarea" asp-controller="Tarea" asp-route-idTarea=@tarea.Id>
                                                <i class="bi bi-pencil"></i>
                                            </a>
                                        }
                                        @if(tablero.IdUsuarioPropietario == Model.Id || tarea.IdUsuarioAsignado == Model.Id)
                                        {
                                            <form asp-controller="Tarea" asp-action="cambiarEstadoTarea" method="post">
                                                <input type="hidden" name="idTarea" value="@tarea.Id" />
                                                <input type="hidden" name="estado" value="@((int)tarea.Estado)" />
                                                <input type="hidden" name="direccion" value="1"/>
                                                <button type="submit" class="btn btn-success">
                                                    <i class="bi bi-arrow-right"></i>
                                                </button>
                                            </form>
                                        }
                                    </div>
                                    <div class="d-flex align-items-center">
                                        @if(tablero.IdUsuarioPropietario == Model.Id)
                                        {
                                            @if(tarea.IdUsuarioAsignado == null || tarea.IdUsuarioAsignado == 0)
                                            {
                                                <a class="btn btn-primary m-2" asp-action="IrAsignarTareas" asp-controller="Tarea" asp-route-idTarea=@tarea.Id>
                                                AsignarTarea
                                                </a>
                                            }else
                                            {
                                                <p>Asignado</p>
                                                <a class="btn btn-primary m-2" asp-action="IrAsignarTareas" asp-controller="Tarea" asp-route-idTarea=@tarea.Id>
                                                <i class="bi bi-gear-fill"></i>
                                                </a>
                                            }
                                        }
                                    </div>
                                </div>
                            </div>
                        }
                    </td>
                    <td style="width: 20%;">
                        @foreach (var tarea in Model.TareasPorTablero[tablero.Id].Where(t => t.Estado == EstadoTarea.ToDo))
                        {
                            <div class="card mb-2 text-center" style="width: 100%;">
                                <div class="card-body">
                                    <h6 class="card-title">@tarea.Nombre</h6>
                                    <p class="card-text">@tarea.Descripcion</p>
                                    <div class="d-flex justify-content-between align-items-center">
                                        @if(tablero.IdUsuarioPropietario == Model.Id || tarea.IdUsuarioAsignado == Model.Id)
                                        {
                                            <form asp-controller="Tarea" asp-action="cambiarEstadoTarea" method="post">
                                                <input type="hidden" name="idTarea" value="@tarea.Id" />
                                                <input type="hidden" name="estado" value="@((int)tarea.Estado)"/>
                                                <input type="hidden" name="direccion" value="2"/>
                                                <button type="submit" class="btn btn-success">
                                                    <i class="bi bi-arrow-left"></i>
                                                </button>
                                            </form>
                                        }
                                        @if(tablero.IdUsuarioPropietario == Model.Id)
                                        {
                                            <form asp-controller="Tarea" asp-action="EliminarTarea" method="post">
                                                <input type="hidden" name="idTarea" value="@tarea.Id" />
                                                <button type="submit" onclick="return confirm('¿Está seguro de eliminar?')" class="btn btn-danger">
                                                    <i class="bi bi-trash"></i>
                                                </button>
                                            </form>
                                            <a class="btn btn-primary" asp-action="IrAModificarTarea" asp-controller="Tarea" asp-route-idTarea=@tarea.Id>
                                                <i class="bi bi-pencil"></i>
                                            </a>
                                        }
                                        @if(tablero.IdUsuarioPropietario == Model.Id || tarea.IdUsuarioAsignado == Model.Id)
                                        {
                                            <form asp-controller="Tarea" asp-action="cambiarEstadoTarea" method="post">
                                                <input type="hidden" name="idTarea" value="@tarea.Id" />
                                                <input type="hidden" name="estado" value="@((int)tarea.Estado)" />
                                                <input type="hidden" name="direccion" value="1"/>
                                                <button type="submit" class="btn btn-success">
                                                    <i class="bi bi-arrow-right"></i>
                                                </button>
                                            </form>
                                        }
                                    </div>
                                    <div class="d-flex align-items-center">
                                        @if(tablero.IdUsuarioPropietario == Model.Id)
                                        {
                                            @if(tarea.IdUsuarioAsignado == null || tarea.IdUsuarioAsignado == 0)
                                            {
                                                <a class="btn btn-primary m-2" asp-action="IrAsignarTareas" asp-controller="Tarea" asp-route-idTarea=@tarea.Id>
                                                AsignarTarea
                                                </a>
                                            }else
                                            {
                                                <p>Asignado</p>
                                                <a class="btn btn-primary m-2" asp-action="IrAsignarTareas" asp-controller="Tarea" asp-route-idTarea=@tarea.Id>
                                                <i class="bi bi-gear-fill"></i>
                                                </a>
                                            }
                                        }
                                    </div>
                                </div>
                            </div>
                        }
                    </td>
                    <td style="width: 20%;">
                        @foreach (var tarea in Model.TareasPorTablero[tablero.Id].Where(t => t.Estado == EstadoTarea.Doing))
                        {
                            <div class="card mb-2 text-center" style="width: 100%;">
                                <div class="card-body">
                                    <h6 class="card-title">@tarea.Nombre</h6>
                                    <p class="card-text">@tarea.Descripcion</p>
                                    <div class="d-flex justify-content-between align-items-center">
                                        @if(tablero.IdUsuarioPropietario == Model.Id || tarea.IdUsuarioAsignado == Model.Id)
                                        {
                                            <form asp-controller="Tarea" asp-action="cambiarEstadoTarea" method="post">
                                                <input type="hidden" name="idTarea" value="@tarea.Id" />
                                                <input type="hidden" name="estado" value="@((int)tarea.Estado)"/>
                                                <input type="hidden" name="direccion" value="2"/>
                                                <button type="submit" class="btn btn-success">
                                                    <i class="bi bi-arrow-left"></i>
                                                </button>
                                            </form>
                                        }
                                        @if(tablero.IdUsuarioPropietario == Model.Id)
                                        {
                                            <form asp-controller="Tarea" asp-action="EliminarTarea" method="post">
                                                <input type="hidden" name="idTarea" value="@tarea.Id" />
                                                <button type="submit" onclick="return confirm('¿Está seguro de eliminar?')" class="btn btn-danger">
                                                    <i class="bi bi-trash"></i>
                                                </button>
                                            </form>
                                            <a class="btn btn-primary" asp-action="IrAModificarTarea" asp-controller="Tarea" asp-route-idTarea=@tarea.Id>
                                                <i class="bi bi-pencil"></i>
                                            </a>
                                        }
                                        @if(tablero.IdUsuarioPropietario == Model.Id || tarea.IdUsuarioAsignado == Model.Id)
                                        {
                                            <form asp-controller="Tarea" asp-action="cambiarEstadoTarea" method="post">
                                                <input type="hidden" name="idTarea" value="@tarea.Id" />
                                                <input type="hidden" name="estado" value="@((int)tarea.Estado)" />
                                                <input type="hidden" name="direccion" value="1"/>
                                                <button type="submit" class="btn btn-success">
                                                    <i class="bi bi-arrow-right"></i>
                                                </button>
                                            </form>
                                        }
                                    </div>
                                    <div class="d-flex align-items-center">
                                        @if(tablero.IdUsuarioPropietario == Model.Id)
                                        {
                                            @if(tarea.IdUsuarioAsignado == null || tarea.IdUsuarioAsignado == 0)
                                            {
                                                <a class="btn btn-primary m-2" asp-action="IrAsignarTareas" asp-controller="Tarea" asp-route-idTarea=@tarea.Id>
                                                AsignarTarea
                                                </a>
                                            }else
                                            {
                                                <p>Asignado</p>
                                                <a class="btn btn-primary m-2" asp-action="IrAsignarTareas" asp-controller="Tarea" asp-route-idTarea=@tarea.Id>
                                                <i class="bi bi-gear-fill"></i>
                                                </a>
                                            }
                                        }
                                    </div>
                                </div>
                            </div>
                        }
                    </td>
                    <td style="width: 20%;">
                        @foreach (var tarea in Model.TareasPorTablero[tablero.Id].Where(t => t.Estado == EstadoTarea.Review))
                        {
                            <div class="card mb-2 text-center" style="width: 100%;">
                                <div class="card-body">
                                    <h6 class="card-title">@tarea.Nombre</h6>
                                    <p class="card-text">@tarea.Descripcion</p>
                                    <div class="d-flex justify-content-between align-items-center">
                                        @if(tablero.IdUsuarioPropietario == Model.Id || tarea.IdUsuarioAsignado == Model.Id)
                                        {
                                            <form asp-controller="Tarea" asp-action="cambiarEstadoTarea" method="post">
                                                <input type="hidden" name="idTarea" value="@tarea.Id" />
                                                <input type="hidden" name="estado" value="@((int)tarea.Estado)"/>
                                                <input type="hidden" name="direccion" value="2"/>
                                                <button type="submit" class="btn btn-success">
                                                    <i class="bi bi-arrow-left"></i>
                                                </button>
                                            </form>
                                        }
                                        @if(tablero.IdUsuarioPropietario == Model.Id)
                                        {
                                            <form asp-controller="Tarea" asp-action="EliminarTarea" method="post">
                                                <input type="hidden" name="idTarea" value="@tarea.Id" />
                                                <button type="submit" onclick="return confirm('¿Está seguro de eliminar?')" class="btn btn-danger">
                                                    <i class="bi bi-trash"></i>
                                                </button>
                                            </form>
                                            <a class="btn btn-primary" asp-action="IrAModificarTarea" asp-controller="Tarea" asp-route-idTarea=@tarea.Id>
                                                <i class="bi bi-pencil"></i>
                                            </a>
                                        }
                                        @if(tablero.IdUsuarioPropietario == Model.Id || tarea.IdUsuarioAsignado == Model.Id)
                                        {
                                            <form asp-controller="Tarea" asp-action="cambiarEstadoTarea" method="post">
                                                <input type="hidden" name="idTarea" value="@tarea.Id" />
                                                <input type="hidden" name="estado" value="@((int)tarea.Estado)" />
                                                <input type="hidden" name="direccion" value="1"/>
                                                <button type="submit" class="btn btn-success">
                                                    <i class="bi bi-arrow-right"></i>
                                                </button>
                                            </form>
                                        }
                                    </div>
                                    <div class="d-flex align-items-center">
                                        @if(tablero.IdUsuarioPropietario == Model.Id)
                                        {
                                            @if(tarea.IdUsuarioAsignado == null || tarea.IdUsuarioAsignado == 0)
                                            {
                                                <a class="btn btn-primary m-2" asp-action="IrAsignarTareas" asp-controller="Tarea" asp-route-idTarea=@tarea.Id>
                                                AsignarTarea
                                                </a>
                                            }else
                                            {
                                                <p>Asignado</p>
                                                <a class="btn btn-primary m-2" asp-action="IrAsignarTareas" asp-controller="Tarea" asp-route-idTarea=@tarea.Id>
                                                <i class="bi bi-gear-fill"></i>
                                                </a>
                                            }
                                        }
                                    </div>
                                </div>
                            </div>
                        }
                    </td>
                    <td style="width: 20%;">
                        @foreach (var tarea in Model.TareasPorTablero[tablero.Id].Where(t => t.Estado == EstadoTarea.Done))
                        {
                            <div class="card mb-2 text-center" style="width: 100%;">
                                <div class="card-body">
                                    <h6 class="card-title">@tarea.Nombre</h6>
                                    <p class="card-text">@tarea.Descripcion</p>
                                    <div class="d-flex justify-content-between align-items-center">
                                        @if(tablero.IdUsuarioPropietario == Model.Id || tarea.IdUsuarioAsignado == Model.Id)
                                        {
                                            <form asp-controller="Tarea" asp-action="cambiarEstadoTarea" method="post">
                                                <input type="hidden" name="idTarea" value="@tarea.Id" />
                                                <input type="hidden" name="estado" value="@((int)tarea.Estado)"/>
                                                <input type="hidden" name="direccion" value="2"/>
                                                <button type="submit" class="btn btn-success">
                                                    <i class="bi bi-arrow-left"></i>
                                                </button>
                                            </form>
                                        }
                                        @if(tablero.IdUsuarioPropietario == Model.Id)
                                        {
                                            <form asp-controller="Tarea" asp-action="EliminarTarea" method="post">
                                                <input type="hidden" name="idTarea" value="@tarea.Id" />
                                                <button type="submit" onclick="return confirm('¿Está seguro de eliminar?')" class="btn btn-danger">
                                                    <i class="bi bi-trash"></i>
                                                </button>
                                            </form>
                                            <a class="btn btn-primary" asp-action="IrAModificarTarea" asp-controller="Tarea" asp-route-idTarea=@tarea.Id>
                                                <i class="bi bi-pencil"></i>
                                            </a>
                                        }
                                        @if(tablero.IdUsuarioPropietario == Model.Id || tarea.IdUsuarioAsignado == Model.Id)
                                        {
                                            <form asp-controller="Tarea" asp-action="cambiarEstadoTarea" method="post">
                                                <input type="hidden" name="idTarea" value="@tarea.Id" />
                                                <input type="hidden" name="estado" value="@((int)tarea.Estado)" />
                                                <input type="hidden" name="direccion" value="1"/>
                                                <button type="submit" class="btn btn-success">
                                                    <i class="bi bi-arrow-right"></i>
                                                </button>
                                            </form>
                                        }
                                    </div>
                                    <div class="d-flex align-items-center">
                                        @if(tablero.IdUsuarioPropietario == Model.Id)
                                        {
                                            @if(tarea.IdUsuarioAsignado == null || tarea.IdUsuarioAsignado == 0)
                                            {
                                                <a class="btn btn-primary m-2" asp-action="IrAsignarTareas" asp-controller="Tarea" asp-route-idTarea=@tarea.Id>
                                                AsignarTarea
                                                </a>
                                            }else
                                            {
                                                <p>Asignado</p>
                                                <a class="btn btn-primary m-2" asp-action="IrAsignarTareas" asp-controller="Tarea" asp-route-idTarea=@tarea.Id>
                                                <i class="bi bi-gear-fill"></i>
                                                </a>
                                            }
                                        }
                                    </div>
                                </div>
                            </div>
                        }
                    </td>
                </tr>
            </tbody>
        </table>
    }
</div>

@*      Ideas = 1,
        ToDo = 2,
        Doing = 3,
        Review = 4,
        Done = 5 *@