@model Kanban.ViewModels.ListarUsuariosViewModel

@{
    ViewData["Title"] = "Listar Usuarios";
}

<div class="text-center">
    <h2>Usuarios</h2>
</div>

<div class="text-center m-2">
    <a class="btn btn-success" asp-action="IrACrearUsuario" asp-controller="Usuario">+</a>
</div>

<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Rol</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var usuario in Model.Usuarios)
        {
            <tr>
                <td>@usuario.NombreUsuario</td>
                <td>@usuario.Rol</td>
                <td>
                    <a class="btn btn-primary" asp-controller="Usuario" asp-action="IrAModificarUsuario" asp-route-id="@usuario.Id">Editar</a>
                    <form asp-controller="Usuario" asp-action="eliminarUsuario" asp-route-id="@usuario.Id" method="post" style="display:inline;">
                        <button type="submit" class="btn btn-danger" onclick="return confirm('¿Está seguro de eliminar este usuario?')">Eliminar</button>
                    </form>
                    <a class="btn btn-dark" asp-controller="Tablero" asp-action="listarTablerosPorID" asp-route-idUsuario="@usuario.Id">Listar Tableros</a>
                </td>
            </tr>            
        }
    </tbody>
</table>